{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Cash' 'cash_box_index' %}
    {% breadcrumb 'Boxes' 'cash_box_overview' %}
    {% breadcrumb cash_box 'cash_box_detail_view' %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>
        {% blocktrans %}
            List of total invoices of {{ cash_box }}
        {% endblocktrans %}
    </h2>

    <h4>
        {% blocktrans %}
            {{ cash_box }} currently has {{ cash_box_balance }}
        {% endblocktrans %}
    </h4>

    <a href="{% url 'cash_box_transaction_overview' name=cash_box.name %}">
        <button class="btn btn-info mb-3">
            {% blocktrans %}
                Click here to view your transactions
            {% endblocktrans %}
        </button>
    </a>

    {% include 'shared_cash_boxes/search.html' %}

    <table id='transaction-list' class='table table-striped'>

        <thead>
        <tr>
            <th>{% trans 'Date' %}</th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'File' %}</th>
            <th>{% trans 'Amount' %}</th>
        </tr>
        </thead>

        <tbody>
        {% for invoice in object_list %}
            <tr>
                <td>{{ invoice.date }}</td>
                <td>{{ invoice.description }}</td>
                <td>{{ invoice.user.get_full_name }}</td>
                <td>
                    {% if invoice.file.name %}
                        <a href="/files/{{ invoice.file.name }}">
                            {% trans 'Invoice' %}
                        </a>
                    {% endif %}
                </td>
                <td>{{ invoice.get_amount }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}
