{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Cash' 'cash_box_index' %}
    {% breadcrumb 'Boxes' 'cash_box_overview' %}
    {% breadcrumb cash_box 'cash_box_detail_view' name=cash_box %}
    {% breadcrumb 'Transactions' 'cash_box_transaction_overview' %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <h2>
        {% blocktrans %}
            List of the transactions of {{ user }} with {{ cash_box }}
        {% endblocktrans %}
    </h2>

    <h4>
        {% if user_balance > 0 %}
            {% blocktrans %}
                {{ cash_box }} owes {{ user }} {{ abs_user_balance }}
            {% endblocktrans %}
        {% elif user_balance < 0 %}
            {% blocktrans %}
                {{ user }} owes {{ cash_box }} {{ abs_user_balance }}
            {% endblocktrans %}
        {% else %}
            {% blocktrans %} All debts are paid. {% endblocktrans %}
        {% endif %}
    </h4>

    {% include 'shared_cash_boxes/search.html' %}

    {% render_table table %}
{% endblock %}
